
    body{
        background-image: url('exersises/knee pain/1.gif');
        background-size: cover;
        
        
        
        height: 100vh;
        padding:0;
        margin:0;
    }